<app-toggle [(checked)]="isChecked"></app-toggle>
<input type="text" [(ngModel)]="name">
<app-hello name="{{name}}"></app-hello>
<app-author-list></app-author-list>

<div>
  <!-- <app-progress-bar></app-progress-bar> -->
  <div>
    <app-progress-bar [progress]="currentProgress" [progressColor]="'yellowgreen'" [backgroundColor]="'#eee'"></app-progress-bar>
    <br>
    <button (click)="currentProgress = currentProgress - 5">Decrease</button>
    <button (click)="currentProgress = currentProgress + 5">Increase</button>
  </div>
</div>
<router-outlet></router-outlet>
