<div>
  <app-toggle [(checked)]="question.question1">
    <h3>Header 1</h3>
    <label for="">Question1</label>
    <p>Content1</p>
  </app-toggle>
  <app-toggle [(checked)]="question.question2">
    <h3>Header 2</h3>
    <span ngProjectAs="label" for="">Question2</span>
    <p>Content2</p>
    <button>Skip</button>
  </app-toggle>
  <br>
</div>
<div>
  <!-- <app-toggle #toggleComp [(checked)]="isChecked"></app-toggle>
  <button (click)="toggleComp.toggle()">Toggle</button>
  <br> -->
  <button (click)="showLast = !showLast">Show Last</button>
  <app-toggle #toggleComp [(checked)]="isChecked"></app-toggle>
  <app-toggle #toggleComp [(checked)]="isChecked"></app-toggle>
  <ng-container *ngIf="showLast">
    <app-toggle #toggleComp [(checked)]="isChecked"></app-toggle>
  </ng-container>
  <button #toggleBtn>Toggle</button>
</div>
<br>
<input #nameInput type="text" [(ngModel)]="name">
<app-hello name="{{name}}"></app-hello>
<app-author-list></app-author-list>

<div>
  <!-- <app-progress-bar></app-progress-bar> -->
  <div>
    <app-progress-bar [progress]="currentProgress" [progressColor]="'yellowgreen'" [backgroundColor]="'#eee'"></app-progress-bar>
    <br>
    <button (click)="currentProgress = currentProgress - 5">Decrease</button>
    <button (click)="currentProgress = currentProgress + 5">Increase</button>
  </div>
</div>
<router-outlet></router-outlet>
