.not-last-item {
  border-bottom: 1px solid #ccc;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  background-color: #ccc;
}

.danger-bg {
  border: 1px solid tomato;
  background-color: tomato;
}

.warning-bg {
  border: 1px solid yellow;
  background-color: yellow;
}